@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,500;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: hsl(169, 28%, 71%);
}
.top {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position: center;

  height: 100vh;
}
.top img {
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  font-family: "Barlow", sans-serif;
}
.logo {
  padding: 2%;
  width: 60%;
}
.logo img {
  width: 19%;
  margin-top: 2.5%;
}
.dropdown {
  display: none;
}
.menu-buttons {
  display: flex;
  padding: 2%;
  width: 40%;
  justify-content: space-evenly;
}
.menu-buttons a {
  text-decoration: none;
}
.mu a {
  color: white;
}
.mu {
  margin-top: 2.5%;
}
.top-texts {
  margin-top: 5.1%;
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  color: white;
  font-family: "Fraunces", serif;
}
.arrow {
  align-self: center;
  width: 2.5%;
  margin-top: 5%;
}
.border {
  background-color: white;
  border-radius: 25px;
  border-style: none;
  font-weight: 900;
  padding: 3.5%;
  align-self: center;
  margin-top: -1.2%;
}
.border:hover,
.border a:hover {
  background-color: hsl(206, 50%, 80%);
  color: white;
}
.border:active,
.border a:active {
  background-color: hsl(206, 50%, 80%);
  color: white;
}

.firstpart {
  height: 65vh;
  display: flex;
}
.firstpart1 {
  height: 65vh;
  display: flex;
}
.firstpart3 {
  height: 65vh;
  display: flex;
}
/* .container{
  width: 100%;
  display: flex;
} */

.words {
  background-color: hsl(0, 52%, 94%);
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  flex-direction: column;
  padding-inline: 11%;
}
.words h2 {
  font-size: 35px;
  font-family: "Fraunces", serif;
}
.words p {
  padding-top: 5%;
  padding-bottom: 7%;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
}
.words u {
  font-weight: bold;
  font-family: "Fraunces", serif;
  text-decoration: underline 3px;
  text-decoration-color: hsl(51, 82%, 74%);
  cursor: pointer;
}
.words u:hover {
  text-decoration: underline 4px;
  text-decoration-color: hsl(51, 100%, 49%);
}
.words b {
  font-weight: bold;
  font-family: "Fraunces", serif;
  text-decoration: underline 3px;
  text-decoration-color: hsl(7, 99%, 70%);
  cursor: pointer;
}
.words b:hover {
  text-decoration: underline 4px;
  text-decoration-color: hsl(7, 97%, 60%);
}

.picture {
  height: 100%;
  width: 50%;
  background-color: rgb(255, 214, 0);
  /* justify-content: center; */
  /* display: flex; */
}
.picture1 {
  height: 100%;
  width: 50%;
  background-color: rgb(254, 109, 98);
  /* justify-content: center; */
  /* display: flex; */
}
.picture img {
  /* width: 80%; */
  width: 100%;
  height: 100%;
}

.picture1 img {
  /* width: 80%; */
  width: 100%;
  height: 100%;
}

.cherry {
  /* background-color: rgb(158, 220, 205); */
  height: 100%;
  width: 50%;
  /* display: flex; */
  /* justify-content: center; */
}
.cherry .ctext h4,
.cherry .ctext p {
  color: hsl(167, 40%, 24%);
}
.cherry img {
  width: 100%;
  /* width: 80%; */
  height: 100%;
}
.orange {
  width: 50%;
}
.orange .ctext h4,
.orange .ctext p {
  color: hsl(198, 62%, 26%);
}

.orange img {
  width: 100%;
  height: 100%;
}
.ctext {
  position: absolute;
  width: 50%;
  top: 270%;
  display: flex;
  flex-direction: column;
  padding-inline: 13%;
  text-align: center;
  color: hsl(212, 27%, 19%);
}
.ctext h4 {
  padding-bottom: 6%;
  font-size: 24px;
  font-family: "Fraunces", serif;
}
.ctext p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.testimonials {
  height: 95vh;
  background-color: hsl(0, 52%, 94%);
}
.testimonials h4 {
  text-align: center;
  padding-top: 8%;
  font-size: 20px;
  padding-bottom: 1%;
  font-family: "Fraunces", serif;
  color: hsl(232, 10%, 55%);
}

.testimonial_box {
  padding-inline: 10%;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
.t_boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 1.8%;
}
.t_boxes img {
  width: 20%;
  border-radius: 50px;
}
.t_boxes p {
  padding-top: 12%;
  padding-bottom: 14%;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
}
.t_boxes b {
  padding-bottom: 2%;
  font-size: 19px;
  font-family: "Fraunces", serif;
}
.t_boxes h6 {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  color: hsl(232, 10%, 55%);
}
.lastpart {
  display: flex;
  flex-direction: column;
  background-color: hsl(169, 28%, 71%);
}
.part1 {
  display: flex;
  width: 50%;
}
.part1 .imgs {
  width: 50%;
}
.pics {
  display: flex;
  flex-direction: row;
}
.imgs {
  width: 25%;
}
.imgs img {
  width: 100%;
}
.end {
  text-align: center;
  background-color: hsl(169, 28%, 71%);
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Barlow", sans-serif;
  color: hsl(168, 31%, 26%);
}
.end h1 {
  font-weight: 900;
  padding-top: 3%;
  padding-bottom: 3%;
  color: hsl(168, 31%, 26%);
}

.b-menu {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.b-menu p {
  font-weight: 600;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 12%;
  padding-top: 4%;
  padding-bottom: 3%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 870px) {
  .logo img {
    width: 23%;
  }
  .menu-buttons {
    width: 55%;
  }
  .words {
    padding-inline: 9%;
  }
  .words h2 {
    font-size: 30px;
  }
  .ctext {
    padding-inline: 9%;
  }
  .t_boxes p {
    line-height: 23px;
    font-size: 14px;
  }
  .testimonial_box {
    padding-inline: 8%;
  }
  .t_boxes {
    padding-inline: 1%;
  }
  .b-menu {
    width: 25%;
  }
  .icons {
    width: 15%;
  }
}

/* tablet */
@media (max-width: 768px) {
  .logo img {
    width: 29%;
  }
  .menu-buttons {
    width: 68%;
    font-size: 14px;
  }
  .arrow {
    width: 4%;
    margin-top: 9%;
  }
  .words p {
    line-height: 21px;
  }
  .testimonial_box {
    padding-inline: 6%;
  }
  .b-menu {
    width: 29%;
  }
  .icons {
    width: 18%;
  }
  .top-texts p {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .logo img {
    width: 35%;
  }
  .menu-buttons {
    width: 70%;
    font-size: 14px;
  }
  .arrow {
    margin-top: 13%;
    width: 5.5%;
  }
  .top-texts p {
    font-size: 45px;
    padding-top: 2%;
  }
  .words h2 {
    font-size: 27px;
  }
  .words p {
    font-size: 14px;
  }
  .ctext {
    padding-inline: 7%;
  }
  .ctext h4 {
    font-size: 22px;
  }
  .ctext p {
    font-size: 13px;
  }
  .t_boxes p {
    line-height: 20px;
    padding-top: 15%;
    font-size: 13px;
  }
  .testimonial_box {
    padding-inline: 5%;
  }
  .t_boxes {
    padding-inline: 0.8%;
    padding-top: 3%;
  }
  .t_boxes img {
    width: 27%;
  }
  .t_boxes b {
    font-size: 16px;
  }
  .t_boxes h6 {
    font-size: 11px;
  }
  .end h1 {
    font-size: 20px;
  }
  .b-menu p {
    font-size: 15px;
  }
  .b-menu {
    width: 30%;
  }
  .icons {
    width: 20%;
  }
  .icons img {
    width: 14%;
  }
}

/* mobiles */

/* large */
@media (max-width: 450px) {
  .logo img {
    width: 38%;
  }
  .menu-buttons {
    display: none;
  }
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    padding-top: 2.5%;
    padding-right: 4%;
    overflow: hidden;
    float: right;
  }
  .ham {
    border: none;
    outline: none;
    background: none;
    margin: 0;
  }
  .dropdown_contents {
    display: none;
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 13%;
    background-color: white;
    padding: 20px 125px;

    text-align: center;
  }
  .dropdown_contents a {
    float: none;
    color: hsl(167, 40%, 24%);
    text-decoration: none;
    display: block;
  }
  .m {
    font-weight: 600;
    /* color:  hsl(167, 40%, 24%); */
    font-size: 18px;
  }

  .dropdown:hover .dropdown_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ham img {
    width: 100%;
  }
  .dropdown {
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .bord {
    padding: 25%;
    margin-top: 35%;
    border-radius: 25px;
    font-weight: 800;
    background-color: hsl(51, 100%, 49%);
    border-style: none;
    color: black;
  }
  .dropdown_contents .m {
    padding-top: 50%;
  }
  .top-texts {
    padding-inline: 1%;
  }
  .firstpart {
    flex-direction: column-reverse;
    height: auto;
  }
  .firstpart1 {
    flex-direction: column;
    height: auto;
  }
  .firstpart3 {
    flex-direction: column;
    height: auto;
  }
  .words,
  .picture,
  .picture1 {
    width: 100%;
  }
  .cherry,
  .orange {
    width: 100%;
  }
  .orange .ctext {
    right: 12%;
    top: 459%;
    padding-inline: 2%;
    width: 75%;
  }
  .cherry .ctext {
    right: 12%;
    top: 390%;
    padding-inline: 2%;
    width: 75%;
  }
  .words {
    padding-block: 15%;
    text-align: center;
    padding-inline: 8%;
  }
  .testimonial_box {
    flex-direction: column;
  }
  .testimonials {
    height: auto;
  }
  .t_boxes {
    padding-inline: 10.3%;
  }
  .t_boxes img {
    width: 19%;
  }
  .t_boxes p {
    font-size: 15px;
    padding-bottom: 9%;
    padding-top: 8%;
  }
  .t_boxes h6 {
    padding-bottom: 10%;
  }
  .pics {
    flex-direction: column;
  }
  .part1 {
    width: 100%;
  }
  .end {
    padding-block: 5%;
  }
  .end h1 {
    padding-bottom: 8%;
  }
  .b-menu {
    padding-bottom: 7%;
    width: 70%;
  }
  .icons img {
    width: 10%;
  }
  .icons {
    width: 45%;
  }
}
@media (max-width: 425px) {
  .orange .ctext {
    top: 440%;
  }
  .cherry .ctext {
    top: 375%;
  }
  .arrow{
    width: 7.5%;
    margin-top: 10%;
  }
}

/* iphone plus */

@media (max-width: 414px) {
  .orange .ctext {
    top: 354%;
  }
  .cherry .ctext {
    top: 305%;
  }
 
}

@media (max-width: 375px) {
  .logo img {
    width: 50%;
  }
 .dropdown_contents{
   left: 7%;
 }
 /* .orange .ctext {
  top: 420%;
}
.cherry .ctext {
  top: 359%;
} */

/* moto g4 and galaxy */
.orange .ctext {
  top: 360%;
}
.cherry .ctext {
  top: 315%;
}
/* .arrow{
  width: 8%;
  margin-top: 15%;
} */

/* moto g4 and galaxy */
.arrow{
  width: 9%;
  margin-top: 29%;
}
}
@media (max-width: 320px){
 .dropdown_contents{
  padding: 20px 100px;
 }
 .orange .ctext {
  top: 390%;
}
.cherry .ctext {
  top: 340%;
}

/* iphone 5 */

/* .orange .ctext {
  top: 370%;
}
.cherry .ctext {
  top: 324%;
} */
.arrow{
  width: 10%;
  margin-top: 20%;
}
}
